<body>

<h1>Kanto Pokédex</h1>

<section>
<h5>Search for Pokémon: </h5>
  <%= form_tag pokemons_path, :method => 'get' do%>
  <%= text_field_tag :search, params[:search] ,placeholder:"Pokémon Name" %>
    <%=submit_tag "Search"%>
<% end %>
</section>



<% @pokemons.each do |pokemon| %>
<!-- Modal Trigger -->

<a class="waves-effect waves-light btn modal-trigger" href="#modal1-<%=pokemon.pokemon_id%>">
  <ul>
    <li>
      <%= image_tag pokemon.image, :class => "pokemon" %>
    </li>
    <li>
      <%= pokemon.name%>
    </li>
  </ul>
  <br />
</a>
<!-- Modal Structure -->
<div id="modal1-<%=pokemon.pokemon_id%>" class="modal">

  <div class="modal-content">
<div class="id"><%= pokemon.pokemon_id%></div>
<div class="name"><%= pokemon.name %></div>
<div class="species"><%= pokemon.species %></div>
<div class="type"><%= pokemon.pokemon_type %></div>
<div class="height"><%= pokemon.height %></div>
<div class="weight"><%= pokemon.weight %></div>
<div class="description"><%= pokemon.description %></div>
<div class="gif"><%= image_tag pokemon.gif, class:"poke-gif"%></div>
<div class="footprints"><%= image_tag pokemon.footprint , class:"poke-footprints"%></div>

</div>
</div>
<%end%>

  </body>
